<div class="container my-5">
  <h2 class="text-white text-center mb-4">Bienvenido!</h2>
  <div class="row g-4 justify-content-center">
    
    <div class="col-md-3">
      <div class="card glass hover-zoom cursor-pointer">
        <img src="ahorcado.png" class="card-img-top" alt="Ahorcado">
        <div class="card-body text-white text-center">
          <h5 class="card-title">Ahorcado</h5>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card glass hover-zoom cursor-pointer">
        <img src="mas o menos.jpg" class="card-img-top" alt="Mayor o Menor">
        <div class="card-body text-white text-center">
          <h5 class="card-title">Mayor o Menor</h5>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card glass hover-zoom cursor-pointer">
        <img src="preguntados.png" class="card-img-top" alt="Preguntados">
        <div class="card-body text-white text-center">
          <h5 class="card-title">Preguntados</h5>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card glass hover-zoom cursor-pointer">
        <img src="calculator.png" class="card-img-top" alt="Calculator">
        <div class="card-body text-white text-center">
          <h5 class="card-title">Calculator</h5>
        </div>
      </div>
    </div>

  </div>
</div>
