.navbar-custom {
    background-color: rgba(0, 0, 0, 0.7); 
  }
  
  .nav-link {
    color: white !important;
  }
  
  .nav-link.selected {
    text-decoration: underline;
    font-weight: bold;
  }

